@import './vars.scss';

// GENERAL

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: $main-font;

    background-image: url('./assets/Netflix.jpg');

    // background-color: $background-primary-color;
    padding-top: 80px;
}

// UTILITIES

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.bg {
    background-image: linear-gradient(
        to bottom,
        transparent 0px,
        transparent 400px,
        rgba(0, 0, 0, 0.1) 400px,
        rgba(0, 0, 0, 0.8) 800px
    );
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 12px;
    }
}
