.notfound {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #dc1a2794;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    img {
        width: 200px;
        display: inline-block;
        height: 200px;
        border-radius: 50%;
        border: 1px solid #000;
    }
}
